<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.my_autrui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.my_autrui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.my_autrui.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.my_autrui.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateDeed" >
        </activity>
        <activity android:name=".Register" >
        </activity>
        <activity android:name=".MyMovement" >
        </activity>
        <activity android:name=".ChooseDeed" >
        </activity>
        <activity android:name=".Help" >
        </activity>
        <activity android:name=".AboutUs" >
        </activity>
        <activity android:name=".EditPP" >
        </activity>
        <activity android:name=".ChangePassword" >
        </activity>
        <activity android:name=".PostDeed" >
        </activity>
       
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
    </application>

</manifest>